<article class="setup_frm help">
  <header>
    <h3>Buttons</h3>
  </header>
  <article class=demo>
    <section class="clear buttons">
      <p>
        <button class="icon-print print button large">button.print.large</button>
        <button class="icon-print print button">button.print</button>
        <button class="icon-print print button small">button.print.small</button>
      </p>
      <p>
        <button class="icon-print border red button large">button.border.red.large</button>
        <button class="icon-print border red button">button.border.red</button>
        <button class="icon-print border red button small">button.border.red.small</button>
      </p>
      <p>
        <button class="icon-save green circle button large">button.circle.green.large</button>
        <button class="icon-save green circle button">button.border.green</button>
        <button class="icon-save green circle button small">button.circle.green.small</button>
      </p>
      <p>
        <button class="icon-print border blue circle button large">button.border.circle.blue.large</button>
        <button class="icon-print border blue circle button">button.border.circle.blue</button>
        <button class="icon-print border blue circle button small">button.border.circle.blue.small</button>
      </p>
      <p>
        <button class="icon-save save button wide">button.save.wide</button>
        <button class="icon-save save button wide" disabled>button.save.wide disabled</button>
        <button class="icon-save save button wide wait">button.save.wide.wait</button>
      </p>
      <p>
        <button class="icon-save button">button</button>
        <button class="icon-save button circle">button.circle</button>
        <button class="icon-save button border">button.border</button>
        <button class="icon-save button border circle">button.circle.border</button>
      </p>
      <p>
        <button class="icon-print button gray">button.gray</button>
        <button class="icon-print button gray circle">button.gray.circle</button>
        <button class="icon-print button gray border">button.gray.border</button>
        <button class="icon-print button gray border circle">button.gray.circle.border</button>
      </p>
      <p>
        <button class="icon-print button dark-gray">button.dark-gray</button>
        <button class="icon-print button dark-gray circle">button.dark-gray.circle</button>
        <button class="icon-print button dark-gray border">button.dark-gray.border</button>
        <button class="icon-print button dark-gray border circle">button.dark-gray.circle.border</button>
      </p>
      <p>
        <button class="icon-print button black">button.black</button>
        <button class="icon-print button black circle">button.black.circle</button>
        <button class="icon-print button black border">button.black.border</button>
        <button class="icon-print button black border circle">button.black.circle.border</button>
      </p>
      <p>
        <button class="icon-facebook button facebook">button.facebook</button>
        <button class="icon-index button blue circle">button.blue.circle</button>
        <button class="icon-signin button logout border">button.logout.border</button>
        <button class="icon-register button register border circle">button.register.circle.border</button>
        <button class="icon-add button add border circle">button.add.circle.border</button>
      </p>
      <p>
        <button class="icon-print button print">button.print</button>
        <button class="icon-print button brown circle">button.brown.circle</button>
        <button class="icon-print button print border">button.print.border</button>
        <button class="icon-print button brown border circle">button.brown.circle.border</button>
      </p>
      <p>
        <button class="icon-print button cyan">button.cyan</button>
        <button class="icon-print button cyan circle">button.cyan.circle</button>
        <button class="icon-print button cyan border">button.cyan.border</button>
        <button class="icon-print button cyan border circle">button.cyan.circle.border</button>
      </p>
      <p>
        <button class="icon-print button preview">button.preview</button>
        <button class="icon-print button gold circle">button.gold.circle</button>
        <button class="icon-print button preview border">button.preview.border</button>
        <button class="icon-print button gold border circle">button.gold.circle.border</button>
      </p>
      <p>
        <button class="icon-edit button green">button.green</button>
        <button class="icon-email-sent button send">button.send.border</button>
        <button class="icon-valid button ok circle">button.ok.circle</button>
        <button class="icon-signin button login border">button.login.border</button>
        <button class="icon-save button save border circle">button.save.circle.border</button>
      </p>
      <p>
        <button class="icon-print button magenta">button.magenta</button>
        <button class="icon-print button magenta circle">button.magenta.circle</button>
        <button class="icon-print button magenta border">button.magenta.border</button>
        <button class="icon-print button magenta border circle">button.magenta.circle.border</button>
      </p>
      <p>
        <button class="icon-info button orange">button.orange</button>
        <button class="icon-edit button update circle">button.update.circle</button>
        <button class="icon-password button forgot border">button.forgot.border</button>
        <button class="icon-world button orange border circle">button.orange.circle.border</button>
      </p>
      <p>
        <button class="icon-print button pink">button.pink</button>
        <button class="icon-print button pink circle">button.pink.circle</button>
        <button class="icon-print button pink border">button.pink.border</button>
        <button class="icon-print button pink border circle">button.pink.circle.border</button>
      </p>
      <p>
        <button class="icon-print button purple">button.purple</button>
        <button class="icon-print button purple circle">button.purple.circle</button>
        <button class="icon-print button purple border">button.purple.border</button>
        <button class="icon-print button purple border circle">button.purple.circle.border</button>
      </p>
      <p>
        <button class="icon-rocket button rosy">button.rosy</button>
        <button class="icon-next button go circle">button.go.circle</button>
        <button class="icon-upload button upload border">button.upload.border</button>
        <button class="icon-download button rosy border circle">button.rosy.circle.border</button>
      </p>
      <p>
        <button class="icon-delete button red">button.red</button>
        <button class="icon-delete button admin circle">button.admin.circle</button>
        <button class="icon-delete button delete border">button.delete.border</button>
        <button class="icon-delete button cancel border circle">button.cancel.circle.border</button>
      </p>
    </section>
  </article>
</article>