<article class="setup_frm help">
  <header>
    <h3>Grid</h3>
  </header>
  <article class="padding-left-right-bottom">
    <p>ระบบกริดของคขสารใช้สำหรับแบ่งพื้นที่แสดงผลออกเป็นช่องๆ ซึ่งสามารถรองรับกริดได้สูงสุดถึง 12 ช่อง .block1 ถึง .block12</p>
    <div class="ggrid">
      <article class="block6">
        <h5 class="bg-red color-white margin-bottom">
          <span class="block padding-left-top-right-bottom">ตารางปกติ</span>
        </h5>
        <table>
          <thead>
            <tr>
              <th>One</th>
              <th>Two</th>
              <th>Three</th>
              <th>Four</th>
              <th>Five</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>17</td>
              <td>15</td>
              <td>10</td>
              <td>7</td>
              <td>5</td>
            </tr>
          </tbody>
        </table>
      </article>
      <article class="block6">
        <h5 class="bg-green color-white margin-bottom">
          <span class="block padding-top-bottom-left-right">ตารางข้อมูล &lt;table class=&quot;border fullwidth data&quot;&gt;</span>
        </h5>
        <table class="border fullwidth data">
          <thead>
            <tr>
              <th>Tag</th>
              <th>Two</th>
              <th>Three</th>
              <th>Four</th>
              <th>Five</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="left">&lt;td&gt;...&lt;/td&gt;</th>
              <td>15</td>
              <td>10</td>
              <td>7</td>
              <td>5</td>
            </tr>
            <tr>
              <th class="center">&lt;td class=center&gt;...&lt;/td&gt;</th>
              <td class="center">15</td>
              <td class="center">10</td>
              <td class="center">7</td>
              <td class="center">5</td>
            </tr>
            <tr>
              <th class="right">&lt;td class=right&gt;...&lt;/td&gt;</th>
              <td class="right">15</td>
              <td class="right">10</td>
              <td class="right">7</td>
              <td class="right">5</td>
            </tr>
          </tbody>
        </table>
      </article>
    </div>
    <div class="ggrid">
      <article class="block6">
        <h5 class="bg-brown color-white margin-bottom">
          <span class="block padding-top-bottom-left-right">ตารางข้อมูล &lt;table class=&quot;horiz-table border fullwidth data responsive-v&quot;&gt;</span>
        </h5>
        <table class="horiz-table border fullwidth data responsive-v">
          <thead>
            <tr>
              <th>th</th>
              <th>td</th>
              <th>td</th>
              <th>td</th>
              <th>td</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th data-text="th">17</th>
              <td data-text="td">15</td>
              <td data-text="td">10</td>
              <td data-text="td">7</td>
              <td data-text="td">5</td>
            </tr>
            <tr>
              <th data-text="th">17</th>
              <td data-text="td">15</td>
              <td data-text="td">10</td>
              <td data-text="td">7</td>
              <td data-text="td">5</td>
            </tr>
            <tr>
              <th data-text="th">17</th>
              <td data-text="td">15</td>
              <td data-text="td">10</td>
              <td data-text="td">7</td>
              <td data-text="td">5</td>
            </tr>
          </tbody>
        </table>
      </article>
      <article class="block6">
        <h5 class="bg-magenta color-white margin-bottom">
          <span class="block padding-top-bottom-left-right">ตารางข้อมูล &lt;table class=&quot;vert-table border fullwidth data responsive&quot;&gt;</span>
        </h5>
        <table class="vert-table border fullwidth data responsive">
          <thead>
            <tr>
              <th>th</th>
              <th>td</th>
              <th>td</th>
              <th>td</th>
              <th>td</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th data-text="th">17</th>
              <td data-text="td">15</td>
              <td data-text="td">10</td>
              <td data-text="td">7</td>
              <td data-text="td">5</td>
            </tr>
            <tr>
              <th data-text="th">17</th>
              <td data-text="td">15</td>
              <td data-text="td">10</td>
              <td data-text="td">7</td>
              <td data-text="td">5</td>
            </tr>
          </tbody>
        </table>
      </article>
    </div>
    <div class="ggrid collapse">
      <div class="block12 center">.ggrid กริดปกติจะมีช่องว่างระหว่างเซล</div>
    </div>
    <div class="ggrid">
      <div class="block1">
        <div class="border bg-light">.block1</div>
      </div>
      <div class="block2">
        <div class="border bg-light">.block2</div>
      </div>
      <div class="block3">
        <div class="border bg-light">.block3</div>
      </div>
      <div class="block4 float-right">
        <div class="border bg-light">.block4.float-right</div>
      </div>
    </div>
    <div class="ggrid">
      <div class="block4">
        <div class="border bg-light">.block4</div>
      </div>
      <div class="block4">
        <div class="border bg-light">.block4</div>
      </div>
      <div class="block4">
        <div class="border bg-light">.block4</div>
      </div>
    </div>
    <div class="ggrid collapse">
      <div class="block12 center">.ggrid.collapse กริดแบบไม่มีช่องว่างระหว่างเซล</div>
    </div>
    <div class="ggrid collapse">
      <div class="block1 border bg-light">.block1</div>
      <div class="block2 border bg-light">.block2</div>
      <div class="block3 border bg-light">.block3</div>
      <div class="block2 border bg-light">.block2</div>
      <div class="block4 border bg-light">.block4</div>
    </div>
    <div class="ggrid collapse center">
      <div class="block1">
        <div class="border bg-light">1</div>
      </div>
      <div class="block1">
        <div class="border bg-light">2</div>
      </div>
      <div class="block1">
        <div class="border bg-light">3</div>
      </div>
      <div class="block1">
        <div class="border bg-light">4</div>
      </div>
      <div class="block1">
        <div class="border bg-light">5</div>
      </div>
      <div class="block1">
        <div class="border bg-light">6</div>
      </div>
      <div class="block1">
        <div class="border bg-light">7</div>
      </div>
      <div class="block1">
        <div class="border bg-light">8</div>
      </div>
      <div class="block1">
        <div class="border bg-light">9</div>
      </div>
      <div class="block1">
        <div class="border bg-light">10</div>
      </div>
      <div class="block1">
        <div class="border bg-light">11</div>
      </div>
      <div class="block1">
        <div class="border bg-light">12</div>
      </div>
    </div>
  </article>
</article>