<article class="setup_frm help">
  <header>
    <h3>Heading Levels</h3>
  </header>
  <article>
    <div class="demo">
      <p>
      <h1>H1 Heading</h1> ไม่สามารถนำไปใช้ได้ (ถูกใช้งานโดย Theme)</p>
      <p>
      <h2>H2 Heading</h2> ไม่สามารถนำไปใช้ได้ (ถูกใช้งานในส่วนของ Header)</p>
      <p>
      <h3>H3 Heading</h3> สำหรับใช้เป็นหัวข้อของฟอร์มหรือตาราง</p>
      <p>
      <h4>H4 Heading</h4>
      </p>
      <p>
      <h5>H5 Heading</h5>
      </p>
      <p>
      <h6>H6 Heading</h6>
      </p>
    </div>
  </article>
  <article>
    <header>
      <h3>Paragraphs</h3>
    </header>
    <div class=demo>
      <p>นี่คือย่อหน้าที่เกิดจาก tag &lt;p&gt;....&lt;/p&gt; คุณสามารถใส่เนื้อหาต่างๆได้ภายใต้ tag นี้</p>
      <p class=right>จัดตัวอักษรชิดขวาด้วย &lt;p class=right&gt;...&lt;/p&gt;</p>
      <p class=center>จัดตัวอักษรกึ่งกลางด้วย &lt;p class=center&gt;...&lt;/p&gt;</p>
      <p class=left>จัดตัวอักษรชิดซ้ายด้วย &lt;p class=left&gt;...&lt;/p&gt;</p>
    </div>
  </article>
  <article>
    <header>
      <h3>Code/Blockquote</h3>
    </header>
    <div class="demo">
      <code>
      ใช้สำหรับระบุส่วนที่เป็นโค้ด โดยอยู่ภายใต้ tag &lt;code&gt;....&lt;/code&gt;
    </code>
      <blockquote> ใช้สำหรับการอ้างอิงไปยังคำพูด &lt;blockquote&gt;...&lt;blockquote&gt; </blockquote>
    </div>
  </article>
  <article>
    <header>
      <h3>Color</h3>
    </header>
    <div class="demo">
      <p class="color-green">สีสำหรับข้อความ &lt;p class=color-green&gt;...&lt;/p&gt;</p>
      <p class="color-black">สีสำหรับข้อความ &lt;p class=color-black&gt;...&lt;/p&gt;</p>
      <p class="color-blue">สีสำหรับข้อความ &lt;p class=color-blue&gt;...&lt;/p&gt;</p>
      <p class="color-brown">สีสำหรับข้อความ &lt;p class=color-brown&gt;...&lt;/p&gt;</p>
      <p class="color-cyan">สีสำหรับข้อความ &lt;p class=color-cyan&gt;...&lt;/p&gt;</p>
      <p class="color-dark">สีสำหรับข้อความ &lt;p class=color-dark&gt;...&lt;/p&gt;</p>
      <p class="color-gold">สีสำหรับข้อความ &lt;p class=color-gold&gt;...&lt;/p&gt;</p>
      <p class="color-gray">สีสำหรับข้อความ &lt;p class=color-gray&gt;...&lt;/p&gt;</p>
      <p class="color-magenta">สีสำหรับข้อความ &lt;p class=color-magenta&gt;...&lt;/p&gt;</p>
      <p class="color-orange">สีสำหรับข้อความ &lt;p class=color-orange&gt;...&lt;/p&gt;</p>
      <p class="color-pink">สีสำหรับข้อความ &lt;p class=color-pink&gt;...&lt;/p&gt;</p>
      <p class="color-purple">สีสำหรับข้อความ &lt;p class=color-purple&gt;...&lt;/p&gt;</p>
      <p class="color-red">สีสำหรับข้อความ &lt;p class=color-red&gt;...&lt;/p&gt;</p>
      <p class="color-rosy">สีสำหรับข้อความ &lt;p class=color-rosy&gt;...&lt;/p&gt;</p>
      <p class="color-silver">สีสำหรับข้อความ &lt;p class=color-silver&gt;...&lt;/p&gt;</p>
      <p class="color-white bg-black">สีสำหรับข้อความ &lt;p class=color-white&gt;...&lt;/p&gt;</p>
      <p class="comment">สีสำหรับส่วนที่ใช้เป็นหมายเหตุ &lt;p class=comment&gt;...&lt;/p&gt; จะมีขนาดตัวอักษรเล็กกว่าปกติเล็กน้อย</p>
      <p class="comment">สีพื้นหลังใช้เป็นตัวอย่างให้สามารถเห็นตัวอักษรเท่านั้น</p>
    </div>
  </article>
  <article>
    <header>
      <h3>Backgound Color</h3>
    </header>
    <div class=demo>
      <p class="bg-black color-white">สีพื้นหลัง &lt;p class=bg-black&gt;...&lt;/p&gt;</p>
      <p class="bg-blue color-white">สีพื้นหลัง &lt;p class=bg-blue&gt;...&lt;/p&gt;</p>
      <p class="bg-brown color-white">สีพื้นหลัง &lt;p class=bg-brown&gt;...&lt;/p&gt;</p>
      <p class="bg-cyan color-white">สีพื้นหลัง &lt;p class=bg-cyan&gt;...&lt;/p&gt;</p>
      <p class="bg-dark color-white">สีพื้นหลัง &lt;p class=bg-dark&gt;...&lt;/p&gt;</p>
      <p class="bg-gold color-white">สีพื้นหลัง &lt;p class=bg-gold&gt;...&lt;/p&gt;</p>
      <p class="bg-gray color-white">สีพื้นหลัง &lt;p class=bg-gray&gt;...&lt;/p&gt;</p>
      <p class="bg-green color-white">สีพื้นหลัง &lt;p class=bg-green&gt;...&lt;/p&gt;</p>
      <p class="bg-light color-black">สีพื้นหลัง &lt;p class=bg-light&gt;...&lt;/p&gt;</p>
      <p class="bg-magenta color-white">สีพื้นหลัง &lt;p class=bg-magenta&gt;...&lt;/p&gt;</p>
      <p class="bg-orange color-white">สีพื้นหลัง &lt;p class=bg-orange&gt;...&lt;/p&gt;</p>
      <p class="bg-pink color-white">สีพื้นหลัง &lt;p class=bg-pink&gt;...&lt;/p&gt;</p>
      <p class="bg-purple color-white">สีพื้นหลัง &lt;p class=bg-purple&gt;...&lt;/p&gt;</p>
      <p class="bg-red color-white">สีพื้นหลัง &lt;p class=bg-red&gt;...&lt;/p&gt;</p>
      <p class="bg-rosy color-white">สีพื้นหลัง &lt;p class=bg-rosy&gt;...&lt;/p&gt;</p>
      <p class="bg-white color-black">สีพื้นหลัง &lt;p class=bg-white&gt;...&lt;/p&gt;</p>
      <p class="comment">สีตัวอักษรใช้เป็นตัวอย่างให้สามารถเห็นตัวอักษรเท่านั้น</p>
    </div>
  </article>
  <article>
    <header>
      <h3>Inline Text</h3>
    </header>
    <div class=demo>
      <p>class term0-term10 สำหรับการทำ Highlight ข้อความ
        <mark class=term0>.term0</mark>
        <mark class=term1>.term1</mark>
        <mark class=term2>.term2</mark>
        <mark class=term3>.term3</mark>
        <mark class=term4>.term4</mark>
        <mark class=term5>.term5</mark>
        <mark class=term6>.term6</mark>
        <mark class=term7>.term7</mark>
        <mark class=term8>.term8</mark>
        <mark class=term9>.term9</mark>
        <mark class=term10>.term10</mark>
        <mark class=term11>.term11</mark>
      </p>
      <p>tag
        <em>&lt;em&gt;</em> ใช้สำหรับเน้นข้อความสำคัญ
      </p>
      <p>tag
        <strong>&lt;strong&gt;</strong> และ
        <b>&lt;b&gt;</b> และ
        <b>&lt;dt&gt;</b> แสดงผลเป็นตัวหนา
      </p>
      <p>tag
        <i>&lt;i&gt;</i> และ
        <dfn>&lt;dfn&gt;</dfn> แสดงผลเป็นตัวเอียง
      </p>
      <p>tag
        <ins>&lt;ins&gt;</ins> และ
        <u>&lt;u&gt;</u> แสดงผลเป็นตัวขีดเส้นใต้
      </p>
      <p>tag
        <del>&lt;del&gt;</del> แสดงผลเป็นตัวขีดฆ่า
      </p>
      <p>tag
        <acronym>&lt;acronym&gt;</acronym> และ
        <abbr>&lt;abbr&gt;</abbr>
      </p>
      <p>tag
        <sub>&lt;sub&gt;</sub> และ
        <sup>&lt;sup&gt;</sup> แสดงผลเป็นตัวห้อยและตัวยก
      </p>
      <p>tag
        <small>&lt;small&gt;</small> และ
        <big>&lt;big&gt;</big> สำหรับปรับขนาดตัวอักษร
      </p>
    </div>
  </article>
</article>