<!DOCTYPE html>
<html lang="{LANGUAGE}" dir=ltr>

<head>
  <title>{TITLE}</title>
  <meta charset=utf-8>
  <link rel=stylesheet href={WEBURL}modules/export/views/style.css?20240204>
  <link rel=stylesheet href={WEBURL}modules/export/views/print.css?20240204>
  <link rel=stylesheet href={WEBURL}modules/export/views/{ORIENTATION}.css?20240204>
  <link rel=stylesheet href={WEBURL}skin/fonts.css?20240204>
</head>

<body class="{ORIENTATION}">
  <a class="icon-print" href="#" onclick="window.print()" title="พิมพ์หน้านี้"></a>
  {CONTENT}
</body>

</html>
