<div class="page">
    <h1 class="center">{TITLE} โดย %NAME%</h1>
    <p class="center border_bottom">1/1</p>
    <table class="data border">
        <thead>
            <tr>
                <th>#</th>
                <th>ชื่อ นามสกุล</th>
                <th>วันที่</th>
            </tr>
        </thead>
        <tbody>%DETAIL1%</tbody>
    </table>
</div>
<div class="page">
    <h1 class="center">{TITLE} by %NAME%</h1>
    <p class="center border_bottom">2/1</p>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name Surname</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>%DETAIL2%</tbody>
    </table>
    <p>สามารถใส่ CSS เพื่อจัดรูปแบบตามที่ต้องการได้ หรือ สามารถใช้ CSS ตามค่าเริ่มต้นได้โดยดูที่ /modules/export/view/style.css</p>
    <p>ตัวอย่าง template นี้อยู่ที่ <b>modules/demo/template/print.html</b></p>
</div>